.container{
    border: 1px solid red;
    background-color: black;
    width: 900px;
    
}

.nav{
    background-color: #708090;
}
 .nav-item{
     color: #fff;
     padding: .8rem;
     font-weight: bold;
     text-decoration: none;
 
    }
    main{
        color: white;
    }
    
    footer{
      color: white;
      text-align: center;
    }
    